{% INCLUDE 'overall_header.html' %}
<script>
	var form_name = 'acp_board';
	var text_name = 'pmwelcome_post_text';
	var load_draft = false;
	var upload = false;
	var imageTag = false;
</script>

<a id="maincontent"></a>

<h1>{{ lang('ACP_PMWELCOME_SETTINGS') }}</h1>

<p>{{ lang('ACP_PMWELCOME_EXPLAIN') }}</p>
<fieldset>
	<dl>
		<dt>{{ lang('BUY_ME_A_BEER') }}<br><span>{{ lang('BUY_ME_A_BEER_EXPLAIN') }}</span></dt>
		<dd><a href="{{ lang('BUY_ME_A_BEER_URL') }}" target="_blank" rel="noreferrer noopener"><img src="{{ lang('PAYPAL_IMAGE_URL') }}" border="0" alt="{{ lang('PAYPAL_ALT') }}" style="cursor:pointer;margin-top:15px;"></a></dd>
	</dl>
</fieldset>
{% if PMWELCOME_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ PMWELCOME_ERROR }}</p>
	</div>
{% endif %}

<form id="acp_board" method="post" action="{{ U_ACTION }}">

{% if PMWELCOME_TEXT_PREVIEW %}
<fieldset>
	<legend>{{ lang('ACP_PMWELCOME_PREVIEW') }}</legend>
	<p>{{ PMWELCOME_TEXT_PREVIEW }}</p>
</fieldset>
{% endif %}
<fieldset>
	<legend>{{ lang('ACP_PMWELCOME_TEXT') }}</legend>
	<p>{{ lang('ACP_PMWELCOME_TEXT_EXPLAIN') }}</p>
		{% INCLUDE 'acp_posting_buttons.html' %}
		<dl class="responsive-columns">
			<dt style="width: 90px;" id="color_palette_placeholder" data-orientation="v" data-height="12" data-width="15" data-bbcode="true">
			</dt>

		<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px;">
			<textarea name="pmwelcome_post_text" rows="26" cols="70" style="width: 95%;" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true" class="inputbox">{{ PMWELCOME_EDIT }}</textarea>
		</dd>
	</dl>
	<fieldset class="submit-buttons">
		<input class="button2" type="submit" name="preview" value="{{ lang('PREVIEW') }}" />
	</fieldset>
</fieldset>

<fieldset>
	<legend></legend>
		<dl>
			<dt>{{ lang('ACP_PMWELCOME_SUBJECT') }}{{ lang('COLON') }}</dt>
			<dd><input type="text" name="pmwelcome_subject" id="pmwelcome_subject" size="50" maxlength="255" value="{{ PMWELCOME_SUBJECT }}" class="inputbox" /></dd>
		</dl>
		<dl>
			<dt>{{ lang('ACP_PMWELCOME_USER') }}{{ lang('COLON') }}<br>
			<span>{{ lang('ACP_PMWELCOME_USER_EXPLAIN') }}</span></dt>
			<dd><input id="pmwelcome_user" name="pmwelcome_user" type="number" min="2" max="{{ SENDER_MAX }}" value="{{ PMWELCOME_USER }}"> <span id="sender_link">{{ SENDER_LINK }}</span></dd>
		</dl>
</fieldset>


<fieldset>
	<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>

	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	</p>
	{{ S_FORM_TOKEN }}
</fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}
